@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;600&display=swap");
:root{
--navy: #071A52;
--darkgreen: #086972;
--lightgreen: #A7FF83;
--green: #17B978;
--black: #0c0c0ccc;
--orange: #F55353;
}
/****** Reset Browser Default settings ******/
* {
 margin: 0;
 padding: 0;
 border: 0;
 box-sizing: border-box;
}

body {
 background-image: url("../images/whitre-bg-texture-unsplash.webp");
 background-attachment: fixed;
 font-family: "Montserrat", sans-serif;
 max-width: 2500px;
 margin-left: auto;
 margin-right: auto;
}

h3,
h4,
p {
 padding: 1.1rem;
}
h2 {
    padding: 1rem;
}

h2,
h3,
h4 {
 font-family: "Lobster", cursive, sans-serif;
 text-align: center;
 letter-spacing: 1px;
}
p {
 color: var(--black);   
 line-height: 1.4;
 padding-bottom: 2rem;
}
.how-to h3 {
 color: var(--darkgreen);
}

.hero-text h2,
h4,
.about h3,
aside.content h3  {
 color: var(--navy);
}
.hero-text h5 {
    padding: 0;
}


/****** Navigation and Logo Mobile First  ******/

nav {
 min-height: 8vh;
 background-color: var(--navy);
}

.logo {
 color: var(--lightgreen);
 text-transform: uppercase;
 letter-spacing: 5px;
 padding-left: 1rem;
}

.logo a {
 text-decoration: none;
 color: var(--lightgreen);
}

.nav-links {
 display: flex;
 justify-content: space-around;
 width: 22em;
 padding-left: 1rem;
 padding-top: 1rem;
 padding-bottom: 1rem;
}

.nav-links li {
 list-style: none;
}

.nav-links a {
 color: var(--lightgreen);
 text-decoration: none;
 letter-spacing: 2px;
 font-weight: bold;
}

.nav-links a:hover {
 color: var(--orange);
}
.current-page {
border-bottom: 2px solid var(--orange);
}

/****** Header Section  ******/

header {
 width: 100%;
 height: 50vh;
 position: relative;
}

.hero-image {
 background-image: url("../images/gloves-on-green.webp");
 background-attachment: fixed;
 background-color: var(--green);
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 width: 100%;
 height: 50vh;
}

.hero-text {
 --green: #17B97882;   
 margin: 0 5%;
 top: 10%;
 background: var(--green);
 padding: 2em;
 border-radius: 10px 60px;
 min-width: 13em;
 position: absolute;
 color: var(--navy);
}
.language {
    position:absolute;
    right: 1rem;
    bottom: 1rem;
}
.language a {
    text-decoration: none;
    color: var(--lightgreen);
}

/******** Main Content Mobile First  ********/

main.content {
 padding: 1.2em;
}

aside.content {
 padding: 1.2em;
 position: relative;
}
aside.content img {
 border-radius: 50%;
 border: 3px solid var(--green);
}
aside.content figcaption {
   text-align: center;

}
.map-container iframe {
    padding-bottom: 2rem;
    width: 100%;
    
}

.down-top-btn {
margin-right: 1rem;
margin-bottom: 1rem;
background-color: var(--orange);
color: var(--lightgreen);
position: absolute;
bottom: 0;
right: 0;
text-decoration: none;
text-transform: uppercase;
font-size: large;
font-weight: bold;
border-radius: 4px;
padding: .75rem;
}

div img {
 width: 100%;
 height: auto;
 max-width: 100%;
 border-radius: 5%;
}
.graphic {
 max-width: 440px;
 margin: auto;
}

.video-container {
 height: 0;
 padding-bottom: 56.25%;
 position: relative;
 max-width: 100%;
}

.video-container iframe {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border-radius: 5%;
}

/************ Media Queries for  bigger screen sizes ************/

@media screen and (min-width: 800px) {
 /******  Navigation and Logo  on same line  ******/
 body {
  font-size: 1.5vw;
 }

 nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .nav-links {
  width: 25em;
 }

 /******** Main Content display Row ********/

 .container {
  display: flex;
  flex-wrap: wrap;
 }

 main.content {
  flex: 70%;
  padding: 1.2em;
 }

 aside.content {
  flex: 30%;
  padding: 1.2em;
 }
 aside.content img {
  max-width: 300px;
 }
}

/*************  Footer section *************/

footer {
 background-color: var(--navy);
 color: var(--beige);
}

.social-links {
 display: flex;
 justify-content: center;
 height: 8vh;
 align-items: center;
 padding-top: .8rem;
}

.social-links li {
 list-style: none;
 width: 5em;
}

.social-links i {
 font-size: 200%;
 color: white;
}

.social-links i:hover {
 color: var(--green);
}
.signature {
display: flex;
justify-content: center;
padding-bottom: 1rem;
}

.signature span {
    font-size: .8rem;
    padding: .8rem;
    color: var(--lightgreen);
}

/*************  Contact Form  *************/

.form-container {
 --orange: #F5535382;   
 border-radius: 5px;
 background-color: var(--orange);
 padding: 2em;
 max-width: 25em;
 margin: 3vh auto;
}

.form {
 max-width: 25em;
 min-width: 15em;
 margin: 0 auto;
 background-color: var(--green);
 padding: 1.5em;
 border-radius: 5px;
}

.form {
 max-width: 30em;
 min-width: 15em;
 padding: 2em;
}

.contact-title,
.contact-description {
 text-align: center;
}

.contact-title {
 font-size: 2.3em;
 padding-top: 1em;
}

legend {
 font-weight: bold;
 padding: 1rem;
}

label {
 display: block;
 width: 100%;
 margin: 0.5em 0;
}

input,
textarea {
 margin: 10px 0 0 0;
 width: 100%;
 height: 3em;
 padding-left: 0.5em;
 border-radius: 10px;
}
input {
width: 100%;
}

textarea {
 height: 8em;
 padding-top: 0.5em;
 resize: none;
}

input[type="submit"] {
 width: 75%; 
 margin: auto;  
 display: block;
 height: 3rem;
 background-color: var(--green);
 color: var(--navy);
 font-size: 1.1rem;
 border: none;
 border-radius: 10px;
}

input[type="submit"]:active {
 background-color: var(--navy);
 color: var(--green);
 border: 3px solid var(--green);
}
