@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 6vh;
    background-color: #061a54e6;
    
}

.logo {
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 2rem;
}
.logo a {
    text-decoration: none;
    color: whitesmoke;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 25em;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: bold;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: whitesmoke;
    margin: 5px;
}
.burger {
    display: none;
}
