@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/****** Navigation and Logo ******/
nav {
    justify-content: space-between;
    align-items: center;
    min-height: 6vh;
    background-color: #061a54e6;
    
}

.logo {
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 2rem;
}
.logo a {
    text-decoration: none;
    color: whitesmoke;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 20em;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: bold;
}

/****** Navigation same line than Logo ******/

@media screen and (min-width: 800px) {

    nav {
        display: flex;
    }
    .nav-links {
        width: 25em;
    }
}

/****** Header Section  ******/

header {
    width: 100%;
    height: 50vh;
    position: relative;
}
.hero-image {
    background-image: url("../images/Gloves-greencarpet-mihaly-koles-unsplash.jpg");
    background-color: rgb(5, 185, 5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
}  
.hero-text {
    margin: 0 5%;
    top: 10%;
    background: #061a5499;
    padding: 2em;
    border-radius: 10px;
    max-width: 200px;
    position: absolute;
    color: whitesmoke;
    font-size: 150%;

}
